
{% extends 'base.html' %}

{% block title %} Контакты салона-ателье Маглена в Томске | {{ meta.meta_subtitle }}{% endblock %}
{% block description %} Адреса, телефоны и время работы салона-ателье Маглена. Оставить заявку на сайте {% endblock %}
{% block keywords %} {% endblock %}
{% block canonical %}https://maglena.tomsk.ru/contacts/ {% endblock %}
{% block og:title %} Контакты салона-ателье Маглена в Томске | {{ meta.meta_subtitle }} {% endblock %}
{% block og:description %} Адреса, телефоны и время работы салона-ателье Маглена. Оставить заявку на сайте {% endblock %}
{% block og:url %}https://maglena.tomsk.ru/contacts/ {% endblock %}
{% block twitter:title %}Контакты салона-ателье Маглена в Томске | {{ meta.meta_subtitle }}{% endblock %}
{% block twitter:description %} Адреса, телефоны и время работы салона-ателье Маглена. Оставить заявку на сайте {% endblock %}


{% block body %}
{% load static %}
{% load contact_tags %}
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__inner">
     
        <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="{% url 'index' %}">
            <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">Контакты</span>
            <meta itemprop="position" content="2" />
          </li>


        </ol>
    </div>
  </div>
 
</div>




<div class="contact-us">
  
    <div class="contact-us__inner">
      
      <div class="contact-us__column contact-us__column--bg">
        <div class="container">
          <h1 class="title">Контакты</h1>
            <div class="contact-us__wrap">
              <img src="{{ setup.logo.url }}" alt="{{ setup.name }}">

              {% for adres in setup.adres.all %}
              <p class="contact-us__text">{{ adres.adress }}</p>
              {% endfor %}
              {% for phone in setup.phone.all %}
              <a href="tel:{{ phone.phone }}" class="contact-us__link">{{ phone.phone }}</a>
              {% endfor %}
              <a href="tel:89234017754" class="contact-us__link">8 (923) 401-77-54 - Чемодан сервис</a>
              <a href="tel:https://api.whatsapp.com/send?phone=79528013671" class="contact-us__link">8 (952) 801-36-71 - Ремонт колясок</a>
              <a href="tel:83822259439" class="contact-us__link">8 (3822) 25-94-39 - Ремонт колясок</a>


                   
            </div>
        </div>
      </div>
      <div class="contact-us__column">
        <div class="container">
          <h2 class="title">Обратная связь</h2>
          <div class="contact-us__wrap">
          {% contact_form %}
          </div>
        </div>
      </div>
    
    </div>
 
</div>
{{ setup.map | safe }}
{% endblock %}