html
    scroll-behavior: smooth
body
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif
    font-size: 14px
    
body._lock
    overflow: hidden

*
    animation-delay: .5s ease

*,
*:before,
*:after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6, p
    margin: 0
ul, li
    
    text-decoration: none
   
a
    text-decoration: none
   
.container
    width: 100%
    max-width: 1355px
    margin: 0 auto
    padding: 0 15px


.btn

    font-family: "Montserrat", Sans-serif
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    
    padding: 12px 39px
    display: block
    color: $textTitleColor
    background-color: #ffffff


.btn-primary
    font-family: "Montserrat", Sans-serif
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    
    padding: 12px 39px
    display: inline-block
    color: #fff
    background-color: $mainColor


.title
    
    font-size: 32px
    margin: 0 auto 40px
    text-align: center
    position: relative
    display: block
    font-weight: 400
    &::before 
        content: ""
        position: absolute
        bottom: -6px
        left: 50%
        margin-left: -25%
        width: 50%
        height: 2px
        background: $mainColor
        z-index: -1
    // .title__span
    &::after
        content: ""
        position: absolute
        bottom: -10px
        left: 50%
        margin-left: -15%
        width: 30%
        height: 2px
        background: $mainColor
    &__span
        font-weight: 500
        color: $mainColor

.title-mini
    text-align: center
    margin-bottom: 40px
    font-size: 22px


.standart
    margin: 0 auto
    width: 100%
    padding: 80px 0
    position: relative
    overflow: hidden
    
    // .standart__inner

    &__inner
        padding: 15px
        width: 100%
        z-index: 22
        position: relative
        margin-right: 0


    // .standart__btn-wrap

    &__btn-wrap
        width: 100%
        text-align: center
        margin-top: 20px

    &__p
        margin-bottom: 20px
        text-align: center
    // .standart__wrapper

    &__wrapper
        width: 100%
        text-align: center
        margin-bottom: 40px
    &__logo
        margin: 0 auto 
    &__img
        position: absolute
        left: 0
        top: 50%
        transform: translateY( -50%)
      
        
.w-65
    width: 65%
    margin: 0 0 auto auto
    @media screen and ( max-width: 768px )
        width: 100%
        
.end
    display: flex
    flex-direction: column
    align-items: flex-end

.bg-purple
    background-color: #7b7c91
    color: #ffffff
    &__op
        background-color: #7b7c918a
        @media screen and ( max-width: 768px )
            margin-left: -15px
            margin-right: -15px
            
            


.bg-gray 
    background-color: #efefef

.grecaptcha-badge
    display: none

.margintop
    @media screen and ( max-width: 768px )
        display: none
        
    &--active
        margin-top: 223px
        @media screen and ( max-width: 768px )
            margin: 0

.image-grid
    width: 100%
    margin: 0 auto
    display: flex
    flex-direction: column
    // .image-grid__img

    &__img
        width: 100%
    &__img + &__img
        margin-top: 20px

.work-grid
    width: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    // .work-grid__wrap

    &__wrap
        width: 100%
        max-width: 380px
        margin: 0 auto
        height: fit-content
        margin-top: 20px
        
    // .work-grid__img

    &__img
        width: 100%
        height: auto
        object-fit: cover

