.header
    &__top
        padding: 2px 10px
        background-color: $whiteColor
        display: flex
        justify-content: space-between
        align-items: center
        @media screen and ( max-width: 764px )
            background-color: $backgroundColor
            margin: 0 -15px
            
    &__top-work 
        color: $mainColor

    &__top-btn
        padding: 10px 15px
        background-color: $mainColor
        color: $whiteColor
        text-transform: uppercase
        font-weight: 4  00
        font-size: 14px
        &:hover
            background-color: green
            color: #111
    &__top-wrap
    &__top-social
        padding-right: 10px
        color: $mainColor

    &__nav
        background-color: $backgroundColor
        width: 100%
        position: relative

    &__menu
        display: flex
        align-items: center
        transition: right 0.5 ease
        @media screen and ( max-width: 764px )
            flex-direction: column
            position: absolute
            display: none
            top: 0
            right: -125px
            transition: left 1s ease
    &__menu._active
        display: block
        right: 25px
    @media screen and ( min-width: 764px )   
        &__link
            position: relative
        &__link-active
        // &__services:first-child
        //     // display: flex
        //     // flex-direction: column
        //     width: 300px
        &__services
            display: flex
            opacity: 0
            overflow: hidden
            pointer-events: none
            flex-wrap: wrap
            position: absolute
            top: 25px
            right: -100px
            // width: 600px
            background-color: #fff
            padding: 0
            box-shadow: 0 0 8px  rgba(0,0,0,0.4)
            transition: all 0.9s ease
        &__services li
            color: $textColor
            padding: 15px 25px
            width: 300px
            // border: 1px solid red
            // background-color: $backgroundColor
            border-bottom: 1px solid $backgroundColor
            border-right: 1px solid $backgroundColor
            font-weight: 500
            transition: all 0.9s ease
        &__services > li:hover
            background-color: $backgroundColor
        // &__services a
        //     border: 1px solid red
        //     // padding: 10px 30px 10px 0
        //     transition: all 0.7s ease
        //     color: $textColor
        &__services a:hover

            color: $mainColor

        &__item-active
            position: relative
            color: $mainColor
            // transition: all 0.5s ease 
            padding: 15px 0   
        &__item-active:before
            position: absolute
            top: -21px
            left: -6px
            content: ''
            width: 125%
            height: 6px
            color: $mainColor
            background-color: $mainColor
            z-index: 55
        &__item
            font-size: 18px
            font-weight: bold
            color: $textTitleColor
            transition: all 0.5s ease 
            padding: 15px 25px 15px 5px 
        &__item:before
            position: absolute
            top: -36px
            content: ''
            width: 0
            height: 0
            left: 40%
            margin-left: -10px        
            background-color: $mainColor
            transition: all 0.5s ease
        &__item:hover
            color: $mainColor
        &__item:hover:before
            top: -36px
            left: 0
            width: 100%
            height: 6px
        &__link:hover >  ul
            opacity: 1
            overflow: visible
            pointer-events: all
        
.nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 0 5px 15px
    @media screen and ( max-width: 764px )
        flex-direction: column
        
.burger
    position: absolute
    background-color: $mainColor
    color: #fff
    top: 18px
    right: 10px   
    z-index: 99
    padding: 18px
    // width: 40px
    display: none 
    cursor: pointer
    @media screen and ( max-width: 764px )
        display: block
    &__span,
    &::before,
    &::after
        position: absolute
        width: 18px
        height: 3px
        right: 9px
        background-color: #fff
        transition: all 0.7 ease 0s
    &::after,
    &::before
        content: ''
    &::after
        top: 10px
    &::before
        top: 22px
    &__span
        top: 16px
.burger._active
    right: 230px
.burger._active span
    display: none
.burger._active::after
    top: 16px
    transform: rotate(-45deg) 
.burger._active::before
    top: 16px
    transform: rotate(45deg) 



    