
{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %} {% endblock %}
{% block og:description %}  {% endblock %}
{% block og:url %} {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %} {% endblock %}
{% block og:site_name %} {% endblock %}

{% block body %}
{% load static %}


   
      
    

<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__inner">
     
        <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="{% url 'index' %}">
            <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage"
              itemprop="item" itemid="https://example.com/books/sciencefiction"
              href="{% url 'turn' %}">
              <span itemprop="name">Услуги</span></a>
            <meta itemprop="position" content="2" />
          </li>

          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage"
              itemprop="item" itemid="https://example.com/books/sciencefiction"
              href="{{ servise.parent.get_absolute_url }}">
              <span itemprop="name">{{ servise.parent.title }}</span></a>
            <meta itemprop="position" content="3" />
          </li>
          
         
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">{{ servise.title }}</span>
            <meta itemprop="position" content="4" />
          </li>

        </ol>
    </div>
  </div>
  
</div>




<div class="standart">
  <div class="container">
    <div class="standart__inner">
      <h1 class="title">{{ servise.title }}</h1>
      
      {{ servise.text | safe }}
    
    </div>
  </div>
</div>



{% endblock %}