
{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %} {% endblock %}
{% block og:description %}  {% endblock %}
{% block og:url %} {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %} {% endblock %}
{% block og:site_name %} {% endblock %}

{% block body %}
{% load static %}

<ol itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{% url 'index' %}">
            <span itemprop="name">Главная</span></a>
        <meta itemprop="position" content="1" />
      </li>
       <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{% url 'about' %}">
            <span itemprop="name">О нас</span></a>
        <meta itemprop="position" content="2" />
      </li>
      
    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="{% url 'rewiew' %}">
        <span itemprop="name">Отзывы</span>
        <meta itemprop="position" content="3" /></a>
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">Оставить отзыв</span>
        <meta itemprop="position" content="3" />
      </li>
    </ol>

<form method="post">
{% csrf_token %}

{{ form.name }}
{{ form.email }}
{{ form.text }}
{{ form.captcha }}
{{ error }}
<button type="submit">Отправить</button>
</form>

{% endblock %}