
{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %} {% endblock %}
{% block og:description %}  {% endblock %}
{% block og:url %} {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %} {% endblock %}
{% block og:site_name %} {% endblock %}

{% block body %}
{% load static %}

<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__inner">
     
        <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="{% url 'index' %}">
            <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">О нас</span>
            <meta itemprop="position" content="2" />
          </li>


        </ol>
    </div>
  </div>
 
</div>

<div class="standart">
  <div class="container">
    <div class="standart__inner">
      <div class="standart__wrapper">
        <img src="{{ setup.logo.url }}" alt="" class="standart__logo">
      
      </div>
      <h1 class="title">О нас</h1>
      {{ setup.about | safe }}
    </div>
  </div>
</div>

<div class="standart">
  <div class="container">
    <div class="standart__inner">
      
      <h1 class="title">Наши мастера</h1>
      
      <div class="worker">
      {% for worker in workers %}
        <div class="worker__item">
          <div class="worker__img-wrap">
            <img src="{{ worker.image.url }}" alt="" class="worker__img">
          </div>
            <p class="worker__text">{{ worker.name }}</p>
        </div>
        

      {% endfor %}

      </div>

      <div class="awards">
      {% for award in awards %}
        <img src="{{ award.image.url }}" alt="" class="awards__img">
      
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}