
{% extends 'base.html' %}

{% block title %} {{ setup.meta_title }} {% endblock %}
{% block description %} {{ setup.meta_description }} {% endblock %}
{% block keywords %} {{ setup.meta_keywords}} {% endblock %}
{% block canonical %} {{ setup.domen }} {% endblock %}
{% block og:title %} {{ setup.meta_title }} {% endblock %}
{% block og:description %} {{ setup.meta_description }} {% endblock %}
{% block og:url %} {{ setup.domen }} {% endblock %}
{% block twitter:title %} {{ setup.meta_title }}{% endblock %}
{% block twitter:description %} {{ setup.meta_description }}{% endblock %}
{% block og:site_name %} {{ setup.domen }}{% endblock %}

{% block body %}
{% load static %}





{% endblock %}