
{% extends 'base.html' %}

{% block title %}{{ work.parent.title }} | Примеры работ{% endblock %}
{% block description %}{{ work.meta_description }}{% endblock %}
{% block keywords %}{{ work.meta_keywords }}{% endblock %}
{% block canonical %}https://{{ request.get_host }}{{ work.get_absolute_url }}{% endblock %}
{% block og:title %}{{ work.parent.title }} | Примеры работ{% endblock %}
{% block og:description %}{{ work.meta_description }}{% endblock %}
{% block og:url %}https://{{ request.get_host }}{{ work.get_absolute_url }}{% endblock %}
{% block twitter:title %}{{ work.parent.title }} | Примеры работ{% endblock %}
{% block twitter:description %}{{ work.meta_description }}{% endblock %}
{% block og:site_name %}{{ request.META.HTTP_HOST }}{{ work.get_absolute_url }}{% endblock %}

{% block body %}
{% load static %}

  


<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__inner">
     
        <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="{% url 'index' %}">
            <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

        
          
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem">
            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage"
              itemprop="item" itemid="https://example.com/books/sciencefiction"
              href="{% url 'work' %}">
              <span itemprop="name">Наши работы</span></a>
            <meta itemprop="position" content="2" />
          </li>
          
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem">
            <span itemprop="name">{{ work.title }}</span>
            <meta itemprop="position" content="3" />
          </li>

        </ol>
    </div>
  </div>
  
</div>

<div class="standart">
    <div class="container">
        <div class="standart__inner">
            <h1 class="title">{{ work.parent.title }}. Примеры работ.</h1>
            <div class="image-grid">
                {% for work in work.work.all %}
                  {% for image in work.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ work.title }}" class="image-grid__img">
                  {% endfor %}
                
                {% endfor %}
            
            </div>
        
        </div>
    </div>
</div>
  

{% endblock %}