

.mart {
    width: 100%;
    position: relative;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mart__inner {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}



.mart__title {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 20px;
}



.mart__dates {
    font-size: 18px;
}



.mart__congr {
    margin-top: 20px;
}



.mart__bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
