{% load static %}
{% load recaptcha3 %}
{% load sorl_thumbnail %}
{% load djsingleton %}
{% get_singleton 'myapp' 'Config' as setup %}
{% get_singleton 'myapp' 'Meta' as meta %}
{% get_singleton 'myapp' 'Vacancy' as vac %}
{% load contact_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0af96d350a.js" crossorigin="anonymous"></script>

    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />

    <meta property="og:title" content="{% block og:title %}{% endblock %}" />
    <meta property="og:description" content="{% block og:description %}{% endblock %}" />
    <meta property="og:url" content="{% block og:url %}{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}" />
    <meta name="theme-color" content="#2b2a28">
    <meta property="og:site_name" content="{{ meta.domen }}" />

    <meta property="vk:image" content="{% static 'images/social/vk.png' %}" />
    <meta property="og:image" content="{% static 'images/social/vk.png' %}" />
    <meta property="og:image" content="{% static 'images/social/vk.png' %}" />
    <link rel="shortcut icon" href="{% static 'images/fav/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" type="image/png" href="{% static 'images/fav/favicon-32x32.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'images/fav/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/fav/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/fav/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/fav/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/fav/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/fav/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/fav/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/fav/apple-touch-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav/apple-touch-icon-180x180.png' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css?{% now "H:i:s" %}"/>
    <link href="{% static 'css/style.css' %}?{% now " H:i:s" %}" rel="stylesheet">
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}

</head>

<body>



    <div class="margintop"></div>


    <header class="header">
        <div class="container">
            <div class="header__top">
             <div class="header__logo">
                    

                        {% if request.get_full_path == '/' %}
                        
                        <img class="header__logo-img" src="{{ setup.logo.url }}" alt="{{ setup.name }}">
                        
                        {% else %}

                        
                        <a href="{% url 'index' %}"><img class="header__logo-img" src="{{ setup.logo.url }}" alt="{{ setup.name }}"></a>
                       
                        {% endif %}
                </div>

                
                    <div class="header__top-wrap">
                        <div class="header__icon">
                            <i class="fas fa-phone"></i> 
                        </div>
                        <div class="header__contacts-wrap">
                            {% for phone in setup.adres.all %}
                            <a href="tel:{{ phone.phone }}" class="header__top-work">{{ phone.phone }} </a>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="header__top-wrap">
                        <div class="header__icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="header__contacts-wrap">
                            {% for adres in setup.adres.all %}
                                <p class="header__top-adres"> {{ adres.adress }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="header__top-wrap">
                        <div class="header__icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="header__contacts-wrap">
                            {% for time in setup.adres.all %}
                                <p class="header__top-adres">{{ time.time }}</p>
                            {% endfor %}
                        </div>
                    </div>

            </div>
        </div>
        <div class="header__bottom">


            <div class="container">

                <div class="header__bottom-wrap">
                   

                    <nav class="header__nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                       

                        <ul class="header__list " itemprop="about" itemscope itemtype="http://schema.org/ItemList">

                            <li class="header__item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ItemList">
                                <a class='header__link' itemprop="url" href="{% url 'index' %}">Главная</a>
                                <meta itemprop="name" content="Главная" />
                            </li>
                            <li class="header__item " itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ItemList">
                                <a class="header__link" itemprop="url" href="{% url 'about' %}">О нас</a>
                                <meta itemprop="name" content="О нас" />

                            </li>
                            <li class="header__item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ItemList">
                                <a class='header__link header__link-drop' itemprop="url" href="{% url 'turn' %}">Услуги <i class="fas fa-chevron-down"></i></a>
                                <meta itemprop="name" content="Услуги" />

                                <ul class="header__dropdown" itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ItemList">

                                    {% for turn in request.turn_list %}
                                    <li class="header__dropdown-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                        <a  class="header__dropdown-link" itemprop="url" href="{{ turn.get_absolute_url }}">
                                            {% if turn.menu_name %}
                                            {{ turn.menu_name }}
                                            
                                            {% else %}
                                            {{ turn.title }}
                                            {% endif %}
                                        </a>
                                        <meta itemprop="name" content="{{ turn.title }}" />
                                 
                                    </li>
                                    {% endfor %}

                                </ul>
                            </li>
                            <li class="header__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a class='header__link' itemprop="url" href="{% url 'work' %}">Наши работы</a>
                                <meta itemprop="name" content="Наши работы" />
                            </li>
                            <li class="header__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                        <a class="header__link" itemprop="url" href="{% url 'vacancy' %}">Вакансии</a>
                                        <meta itemprop="name" content="Вакансии" />
                                    </li>
                            <li class="header__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a class='header__link' itemprop="url" href="{% url 'contacts' %}">Контакты</a>
                                <meta itemprop="name" content="Контакты" />
                            </li>
                             <li class="header__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                <a target="_blank" class='header__link' itemprop="url" href="https://xn--j1adfnc.xn----7sbhfedw0alh1ake5e.xn--p1ai/">Чемодан Сервис</a>
                                <meta itemprop="name" content="Контакты" />
                            </li>
                            
                        </ul>
                    </nav>
                    <a href="#" class="header__btn popup-btn"> Оставить заявку</a>
                </div>
            </div>
        </div>
    </header>

<div class="header__closer"></div>

<div class="toggle-menu" id="menu">
    <div class="toggle-section">
        <a href="#" class="menu-btn">
            <span></span>
        </a>
    </div>
</div>



    



    {% block body %}
    {% endblock %}



<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__column">
                <p class="footer__title">О нас</p>
                <div class="footer__logo-wrap">
                    <img src="{{ setup.logo.url }}" alt="{{ setup.name }}" class="footer__logo">
                </div>
                <p class="footer__text">Arabusta is a place for your perfect time over a cup of fragrant 
                coffee. We offer over 100 sorts of coffee, freshly ground and made for you. Here you 
                can try delicious desserts highlighting coffee taste.</p>
                 <p>© Copyright 2012 - {% now "Y" %}</p>
            </div>

            <div class="footer__column">
                <p class="footer__title">Адреса </p>

                {% for adres in setup.adres.all %}
                <div class="footer__item">
                    <i class="fas fa-map-marker-alt"></i><p class="footer__item-adres"> {{ adres.adress }}</p>
                </div>
                {% endfor %}
                

                

            </div>
             <div class="footer__column">
                <p class="footer__title">Время работы </p>
                {% for adres in setup.adres.all %}
                <div class="footer__clock-wrap">
                    
                    <div class="footer__clock-clock">{{ adres.time | safe }}</div>
                </div>
             {% endfor %}
            </div>
             <div class="footer__column">
                <p class="footer__title">Контакты</p>
                <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quidem quisquam quo sint debitis atque?</p>
                    {% for phone in setup.phone.all %}
                    <div class="footer__item">
                        <i class="fas fa-phone"></i> <a href="tel:{{ phone.phone }}" class="footer__link">{{ phone.phone }} </a>
                    </div>
                    {% endfor %}
                    <div class="footer__item">
                            <i class="far fa-envelope"></i><a href="mailto:{{ setup.email }}" class="footer__link">{{ setup.email }} </a>
                    </div>
                    <div class="footer__item">
                    {% for social in setup.social.all %}
                        <a href="{{ social.link }}" class="footer__link">{{ social.icon | safe }}</a>
                    {% endfor %}
                    </div>
            
            </div>
 
        
        </div>
    </div>
</footer>

    <!-- Footer !-->
   



<div class="popup">
    {% contact_form %}


</div>
<div class="popup__closer"></div>


    <script src="{% static 'js/jquery.js' %}?{% now 'H:i:s' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/script.js' %}?{% now 'H:i:s' %}"></script>

</body>

</html>